.card {
  /* box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.514); */
  transition: 0.3s;
  width: 320px;
  height:fit-content;
   border-radius: 10px;
  margin: 0 0 0 4rem;
  
}


.container {
  padding: 2rem 1rem 2rem 1rem ;
  font-size: 1rem;
}
.container p  {
padding-top: .5rem;
}
.cards{
 display:flex;
 flex-wrap: wrap;
 margin-top: 2rem;
}
.card-item{
 margin-left: 2rem;
 margin-top: 2rem;
}

 @media screen and (min-width: 600px) {
    .cards {
      flex-wrap: nowrap;
    }

 }