


 .content {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-left: 7vw;
  margin-top: 20vh;
 animation:Slide_Up 2.4s ease;

} 

@keyframes Slide_Up{
0%{
transform:translateY(20px);
opacity:0;
}
/* 50%{
 opacity:0;
} */
100%{
transform:translateY(0);
opacity:1;}
}

@media screen and (max-width: 960px) {
 .content {
  margin-top: 0;}

}
