


 .content {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-left: 7vw;
  margin-top: 20vh;
 animation:Slide_Up 2.4s ease;

} 
.aboutflex{
  display: flex;
  flex-wrap: wrap;
 
}
 .item1{
    padding: 0 0 0 10vw;
    width: 70%;
  }
  .item1 p{
    padding-top: 2vh;
  }
img{
  width:200px;
  height: auto;
  border-radius: 1.5rem;
}
@keyframes Slide_Up{
0%{
transform:translateY(20px);
opacity:0;
}
/* 50%{
 opacity:0;
} */
100%{
transform:translateY(0);
opacity:1;}
}

.skill-link{
  margin-left: 1.4rem;
  margin-top: 1.4rem;
}
@media screen and (max-width: 960px) {
 .content {
   font-size: 1.2rem;
  margin-top: 0;}
  .home{
    margin-top: 10vh;
  }
 .items{
    padding: 4vh 0 0 0;
  }
  .item1{
      width: 100%;
  }
  .item1 p{
    padding-top: 4vh;
  }
}
