



body{
 
 background-image: url(./pexels-alan-cabello-1291515.jpg);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
color:rgb(255, 255, 255);
}

a{
 text-decoration: none;
 color:#ffdd40;
}
/* selected link */
a:active {
  color: #ffdd40;
}




